h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    border-radius: 10px;
    margin-top: -5px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    max-width: fit-content;
}
body{
    background-image: url("bg1.jpg");
    background-size: 100% 600px;
    background-repeat: no-repeat;
}
#login_div{
    margin-top: 200px;
    max-height: 500px;
    border-radius: 15px;
    width: 50%;
    background-color: lightblue;
}
@media screen and (max-width: 600px) {
    #login_div{
        width: 90%;
    }
}
.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		border-radius: 15px;
        width: 100%;
	}